@import "tailwindcss";


:root {
  /* --color-primary: #494bf0e0; */
  --color-primary: #2bb8db;
  --color-background: #070830;
  --color-background-secondary: #192b52;
  /* --color-primary: #22B342; */
}

.section-title {
  font-family: var(--font-montserrat);
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 2.2rem;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 480px) {
  .section-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}