---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Skills from "./Skills.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="aboutme-section">
  <h1 class="aboutme-section__title">
    {t("aboutme.title1")}
    <span>{t("aboutme.title2")}</span>
  </h1>
  <p class="aboutme-section__description">
    {t("aboutme.description")}
  </p>
</section>
<div class="aboutme-section__content-stats">
  <div class="aboutme-section__content-stat">
    <h3>+4</h3>
    <span>{t("aboutme.stat1")}</span>
  </div>
  <div class="aboutme-section__content-stat">
    <h3>+30</h3>
    <span>{t("aboutme.stat2")}</span>
  </div>
  <div class="aboutme-section__content-stat">
    <h3>+10</h3>
    <span>{t("aboutme.stat3")}</span>
  </div>
  <div class="aboutme-section__content-stat">
    <h3>+5</h3>
    <span>{t("aboutme.stat4")}</span>
  </div>
</div>

<Skills />

<style>
  .aboutme-section {
    /* padding: 2rem; */
    display: flex;
    flex-direction: column;
  }

  .aboutme-section__title {
    font-size: 5rem;
    margin-bottom: 1rem;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 2px;
  }

  .aboutme-section__title span {
    color: var(--color-primary) !important;
  }

  .aboutme-section__description {
    font-size: 1.25rem;
    margin: 1rem 0;
    font-family: var(--font-roboto-mono);
  }

  .aboutme-section__content-stats {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
  }

  .aboutme-section__content-stat {
    flex: 1;
    min-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aboutme-section__content-stat h3 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
  }
  .aboutme-section__content-stat span {
    font-size: 1.1rem;
    margin: 0;
    text-align: center;
    font-family: var(--font-roboto-mono);
  }

  @media (max-width: 768px) {
    .aboutme-section__title {
      font-size: 4rem;
    }

    .aboutme-section__description {
      font-size: 1.2rem;
    }
  }

  @media (max-width: 480px) {
    .aboutme-section__title {
      font-size: 3rem;
    }

    .aboutme-section__description {
      font-size: 1rem;
    }

    .aboutme-section__content-stat h3 {
      font-size: 2rem;
    }

    .aboutme-section__content-stat span {
      font-size: 0.9rem;
    }
  }
</style>
